<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>network-clipboard</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="last-pass">
    <input disabled/>
</div>

<div id="pass-area">
    <input id="pass-value" type="text">
    <button id="pass-submit">提交</button>
</div>
<div id="msg-area">
    <textarea id="msg-value"></textarea>
    <button id="msg-submit">提交</button>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $("#msg-submit").click(function(){
        var msg = $("#msg-value").val();
        $.post("/clipboard/set.json",{"msg": msg},function(data){
            $("#pass-values").append("<tr><td>"+data.data+"</td></tr>");
            $("#last-pass").val(data.data);
        })
    });
    $("#pass-submit").click(function () {
        var pass = $("#pass-value").val();
        $.get("/clipboard/get.json",{"pass": pass},function (data) {
            $("#msg-values").val(data.data)
        });
    });
</script>
</body>
</html>